
@{
    ViewBag.Title = "semAcesso";
}
<br/><br/>
<center>
    <div class="card" style="width: 900px;">
        <h2>HOJE NÃO!</h2>
        <p style="color: #fff; font-size: 16px;">Você não tem permissão para entrar nessa página.</p>
        <div class="row">
            <div class="col-md-4">
                <img src="~/img/cleber.gif"  style="width: 80%;"/>
            </div>
            <div class="col-md-4">
                <img src="~/img/railsonGif.gif" style="width: 80%;" />
            </div>
            <div class="col-md-4">
                <img src="~/img/leo.gif" style="width: 80%;" />
            </div>
        </div>
        <br/>
    </div>
</center>
<br/>

